$primary-bg-color: #f9f7ed;
$secondary-bg-color: #f4f0e4;
$primary-color: #ec5148;
$secondary-color: #aac789;
$secondary-color--darker: #437356;

body {
    font-family: 'Open Sans',sans-serif;
    line-height: 1.4em;
    font-size: 14px;
    margin: 0;
    background-color: $primary-bg-color;
}

* {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    box-sizing: content-box;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    padding: 0 15px;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

// Header css starts

.header {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 60px;
    line-height: 4;
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 30%;
    color: $primary-color;
}

.menu {
    width: 69%;
    text-align: right;
}

.menu__item {
    width: 70px;
    text-align: center;
    line-height: normal;
    padding: 6px 8px;
    font-weight: 100;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease-out;
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
}

.menu__item:hover {
    background-color: $secondary-color;
}

// Header css ends